.comments {
    display: flex;
    margin: 10px 0;
}

.container {
    padding: 20px;
    margin-right: 10px;
    overflow-y: auto;
}

.comments p {
    margin-left: 5px;
    word-break: break-word;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 10px 20px;
    }
}
